/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navbar-brand {
  font-family: 'Poppins';
  font-weight: bold;
}
.navbar-nav {
  font-weight: 100px;
}

