{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet">
 
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/myjs.js' %}"></script>

<header>
  <link rel="stylesheet" href="{% static 'css/rapidTest.css' %}"/>
</header>
{% endblock meta %}

{% block content %}
<div class = "cover2"></div>
<h2 class = "judul">TAMBAH TEMPAT RAPID TEST</h2>

<section>
  <div class="container-fluid ">
    <div class = "row">
      <div class="col-sm-12 d-flex justify-content-center" style = "text-align:center">
        <div class="card" style="width: 30rem; background-color:#FFFFFF">
          <div class="card-header">
            <div class="card-body">
                        
              <form action="" method="POST" autocomplete="off" class='d-flex justify-content-center'>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    
                    {% csrf_token %}
                    <h5 class="form-fld">Nama Tempat</h5>
                    <div class="d-flex justify-content-center">{{form.nama_tempat}}</div>
                    <h5 class="form-fld">Tanggal Pelaksanaan</h5>
                    <h8 class="form-fld">(mulai)</h8>
                    <div class="d-flex justify-content-center">{{form.tanggal_pelaksanaan_mulai}}</div>
                    <h8 class="form-fld">(akhir)</h8>
                    <div class="d-flex justify-content-center">{{form.tanggal_pelaksanaan_akhir}}</div>
                    <h5 class="form-fld">Biaya</h5>
                    <div class="d-flex justify-content-center">{{form.biaya}}</div>
                    <h5 class="form-fld">Alamat</h5>
                    <div class="d-flex justify-content-center">{{form.alamat}}</div>
                    <br>

                    <button style= "background-color: #DF6357" type="submit" class="btn btn-danger btn-lg">Add</button>
                  </div>
                </div>
              </form>

              <!-- Tombol ke halaman daftar tempat rapid test -->
              <a class="btn btn-danger btn-lg" style= "background-color: #DF6357" href="{% url 'rapidTest:rapid' %}" role="button">Back</a>                            
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}