{% extends 'base.html'%}
{% load static %}


{% block content %}
<header>
    <link rel="stylesheet" href="{% static 'css/listRs.css' %}"/>
</header>
<div class="cover_tambah">
    
</div>
<br>
<br>
<h2 style = "text-align:center">TAMBAH RUJUKAN RS</h2>
<section>
        <div class="container-fluid ">
            <div class = "row">
                <div class="col-sm-12 d-flex justify-content-center" style = "text-align:center">
                    <div class="card" style="width: 30rem; background-color:#FFFFFF">
                        <div class="card-header">
                            <div class="card-body">
                        
                                <form method='POST' class='d-flex justify-content-center'>
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            {% csrf_token %}
                                            {{ form }}
                                            <br>
                                            <button style= "background-color: #232065" type="submit" class="btn btn-primary btn-lg">Add</button>
                                        </div>
                                    </div>
                                </form>

                                <!--button untuk ke list rumah sakit-->
                                <br>
                                
                                <a class="btn btn-primary btn-lg" 
                                style= "background-color: #232065"
                                href="{% url 'list_rs:listRS'  %}" 
                                role="button">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}


